#topNav 
{
  list-style-type: none;
  padding-left: 0;
  position: fixed;
  text-align: center;
  right: 0;
  left: 0;
  z-index: 1036;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100px;

  #logo
  {
    position: absolute;
    left: 3%;
    top: 0;
    background: asset_data_url('logo.svg') no-repeat center center;
    height: 100%;
    width: 300px;
    cursor: pointer;

    &:hover
    {
      width: 350px;
      left: calc(3% - 10px);
    }

    @media screen and (max-width: 530px)
    {
      background: asset_data_url('logoSmall.svg') no-repeat center center;
      width: 80px;

      &:hover
      {
        width: 90px;
        left: calc(3% - 5px);
      }
    }
  }

  #buttonArea
  {
    display: flex;
    position: absolute;
    right: 3%;
    height: 100%;
    max-width: calc(100% - 240px);
    min-width: 270px;

    @media screen and (max-width: 530px)
    {
      min-width: calc(100% - 120px);
    }

    button, a
    {
      height: 100px;
      line-height: 100px;
      font-size: 30px;
      background: none;
      border: none;
      text-transform: uppercase;
      font-family: "Luckiest Guy", sans-serif;
      width: 170px;
      text-align: center;
      text-decoration: none;

      &:hover
      {
        font-size: 35px;
        line-height: 100px;
      }

      &.cart
      {
        background: asset_data_url('cartBlue.svg') no-repeat center center;
        background-size: 55%;
        width: 150px;

        &:hover
        {
          background-size: 60%;
        }
      }

      &.primary
      {
        color: rgb(0, 128, 173);
      }

      &.secondary
      {
        color: rgb(194, 217, 63);
      }
    }
  }
}
