#topNav#topNav {
  list-style-type: none;
  padding-left: 0;
  position: fixed;
  text-align: center;
  right: 0;
  left: 0;
  z-index: 1036;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 80px;
  #logo
  {
    position: absolute;
    left: 3%;
    top: 0;
    background: asset_data_url('logo.svg') no-repeat center center;
    height: 100%;
    width: 200px;
    cursor: pointer;
    &:hover
    {
      width: 220px;
      left: calc(3% - 10px);
    }
  }
  #buttonArea
  {
    display: flex;
    position: absolute;
    right: 10px;
    height: 100%;
    max-width: calc(100% - 17vw);
    button, a
    {
      height: 80px;
      line-height: 88px;
      font-size: 20px;
      background: none;
      border: none;
      text-transform: uppercase;
      font-family: "Luckiest Guy", sans-serif;
      width: 105px;
      text-align: center;
      text-decoration: none;
      &:hover
      {
        font-size: 25px;
        line-height: 86px;
      }
      &.primary
      {
        color: rgb(0, 128, 173);
      }
      &.secondary
      {
        color: rgb(194, 217, 63);
      }
    }
    #cart
    {
      background: asset_data_url('cartBlue.svg') no-repeat center center;
      background-size: 60%;
      width: 100px;
      &:hover
      {
        background-size: 70%;
      }
    }
  }
}
